<footer class="main-footer">
  <div class="container-fluid">    
    <nav class="footer-menu">
        <ul>
          {% for cats in site.categories limit: 7 %}
						{% capture cat_id %}{{ cats[0] }}{% endcapture %}
						{% for post in site.categories[cat_id] limit: 1 %}  
							{% if page.category == cat_id %}				
								<li class="active">
							{% else %}
								<li>
							{% endif %}
							<a href="blog/{{ cat_id }}/">{{ post.catname }}</a></li>	
						{% endfor %}
          {% endfor %}  
        </ul>        
    </nav>
    <nav class="soc">
      {{ site.soc }}
    </nav>
  </div>
</footer>

<footer class="bottom-footer">
  <div class="container text-center">
    <div class="footer-copy">{{ site.time | date:  '%Y' }} © 
      <span class="logo-footer">folow</span>
    </div>
    <p>{{ site.copyright }}</p>
  </div>
</footer>

<script src="js/libs/likely/likely.js"></script>
<script src="js/script.min.js"></script>
<script id="dsq-count-scr" src="//folow.disqus.com/count.js" async></script>

</body>
</html>