<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8">        
				<div class="article-content">
          <nav class="breadcrumps">
            <ul>
              <li><a href="{{site.baseurl}}">Главная</a></li>
              <li><a href="{{ site.category_dir }}/{{ page.categories }}">{{ page.catname }}</a></li>
              <li class="active">{{ page.title }}</li>
            </ul>
          </nav>
					<article class="main-article">						
						<h2>{{ page.article-title }}</h2>
						<div class="article-body">
								{{ content }}
            </div>
						<div class="likely-on-page">
								<div class="likely" data-url="{{ site.url }}{{ page.url }}" data-media="{{ site.url }}/{{ page.image }}" data-title="{{ page.title }}">
									<div class="vkontakte" title="Поделиться Вконтакте">Вконтакте</div>
									<div class="facebook" title="Поделиться в Facebook">Facebook</div>
									<div class="twitter" title="Поделиться в Twitter">Twitter</div>
									<div class="odnoklassniki" title="Поделиться в OK">OK</div>
									<div class="gplus" title="Плюсануть">Плюсануть</div>
								</div>
            </div>
            <hr>            
						{% include /comments.html %} 
					</article>
				</div>
			</div>