<header class="header-img" style='background-image: url("{{ page.image }}")'>
	<div class="page-header-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-7 col-md-8">
					<div class="page-header-meta">
						<a href="{{ site.category_dir }}/{{ page.categories }}" class="page-category-link">{{ page.catname }}</a>
						<span class="date">{{ page.date | date: '%d' }}/{{ page.date | date: '%m' }}/{{ page.date | date: '%Y' }}</span>
						<h1>{{ page.main-title }}</h1>
							<div class="item-social">
								<div class="item-comments" title="Количество">
									<i class="fa fa-comment"></i>
									<a href="{{ page.url }}#disqus_thread" class="item-comments-count"></a>
								</div>
								<div class="fa fa-share-alt" title="Поделиться в соц. сетях"></div>
								<div class="likely likely-custom" data-url="{{ site.url }}{{ page.url }}" data-media="{{ site.url }}/{{ page.image }}" data-title="{{ page.title }}">
									<div class="vkontakte" title="Поделиться Вконтакте">Вконтакте</div>
									<div class="facebook" title="Поделиться в Facebook">Facebook</div>
									<div class="twitter" title="Поделиться в Twitter">Twitter</div>
								</div>
							</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</header>